#tabs
{
	 
	min-height: 300px;
}

.tabContent
{
	min-height: 200px;
}


.leftCol
{
	width: 50%; height: 100%; float: left;
	background-color: red;
}

.rightCol
{
	width: 50%; height: 100%; float: left;
}
.rightCol p
{
	margin-left: 1em;
}

.clearDiv
{
	clear: both;
}

.lineInput
{
	display: inline;
	float: right;
	margin-right: 1em;
}

.lineSelect
{
	float:right;
	margin-right: 1em;
}

#abilityScoreGraph
{
	width: 90%;
	margin: auto;

}

#abilityScoreGraphCanvas
{
	width: 100%; 
	height: 100%; 
}