html, body, #main
{
	height: 100%; 

}

#main
{
	background-color: purple;
}

#monster-tab-bottom
{
	position: absolute; 
	background: none;
	left: 5%; 
	bottom: -25px;
	width: 70%; 
	height: 20%; 
	overflow: hidden;
	border-radius:10px;
}

.ui-tabs-panel
{
}

.tabContent
{
	height: auto;
	overflow-y: scroll;
}

#loadBtn
{width: 300px; 
	height: 300px;

}

.tabContent h1
{
	font-size: 15px;
	display: inline;
}

.tabContent span
{
	font-size: 15px; 
	display: inline;
	font-family: arial;
}

.notes
{
	rows: 10;
	width: 90%;
}

select
{
	-webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   	font-size: 10px; 
}

option
{
}