body
{
	background-image: url("../../assets/images/driftwoodimage.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

#aboutForm
{
	position: relative;
	top: 22%;
	@include box-sizing(border-box);
	width: 440px;
	height: 520px;
	margin: 0 auto;
	margin-top: 12.6%;
	padding: 30px;
	background-color: rgba(241, 241, 245, 0.9);
	border: 1px solid #aaaacc;
	border-radius: 10px;
	img#logo  {
	margin-bottom: 20px;
	}
	.control-label {
	font-weight: bold;
	a {
	  font-weight: inherit;
	}
	}
	input[type="submit"] {
	margin-right: 10px;
	}
}

.controls
{
    margin-left: 0;
  
}

textarea {
        @include box-sizing(border-box);
        padding: 10px;
		margin-top:5%;
        width: 95%;
		height: 100%;
		border: 1px solid #aaaacc;
		border-radius:10px;
		background-color: rgba(241, 241, 245, 0.9);
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		
        textarea {
          @include box-shadow(none);
          margin-bottom: 0;
          max-height: 85px;
          border: none;
          resize: none; 
          &:focus {

          }
        }
      